Package: com.xcxiao.roundmusicbar
Name: RoundMusicBar
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: XCXiao
Author: XCXiao
Section: Tweaks
